.icon {
  position: fixed;
  bottom: 1%;
  left: 0;
}

.select {
  color: black;
  font-weight: normal;
}

.selected {
  color: #4A89DC;
  font-weight: bold;
}

.show {
  display: block;
}

@media screen and (max-width: 1600px) {
  .main_banner img, .icon img {
    height: auto;
    max-width: 100%;
    border-radius: 10px;
  }
  .main_character img {
    height: auto;
    max-width: 50%;
    border-radius: 10px;
  }
}

@media screen and (max-width: 1375px) {
  main {
    max-width: 800px;
  }
  .main_banner img {
    max-width: 70%;
  }
}

@media screen and (max-width: 1250px) {
  main {
    max-width: 580px;
  }
  .main_banner img {
    max-width: 70%;
  }
}

@media screen and (max-width: 1000px) {
  main {
    margin: 0 auto;
    padding: 0px;
    margin-top: 1rem;
  }
  .main_title {
    padding: 0px 10px;
  }
  .main_character {
    padding: 0px 10px;
  }
  .main_character img {
    max-width: 50%;
  }
  .main_banner img {
    max-width: 70%;
  }
  nav {
    width: 100%;
  }
  .icon img {
    width: 80%;
  }
}

@media screen and (max-width: 548px) {
  .main_character {
    display: inline-block;
    max-width: 100%;
  }
  header {
    font-size: 16px;
  }
  .main_title {
    font-size: 16px;
    margin-top: 50px;
  }
  main {
    font-size: 12px;
  }
  .icon img {
    width: 50%;
  }
  .top_btn {
    display: block;
  }
}
