main {
  max-width: 900px;
}

main .main_title {
  font-size: 24px;
  margin-top: 15px;
}

main .main_character p:nth-child(3n+1) {
  font-weight: bold;
}

main > div:not(:first-child) {
  border-top: 1px solid orange;
}

main img {
  margin: 10px 0;
  padding: 1px;
  border: 1px solid black;
}

@media screen and (max-width: 1600px) {
  main .main_banner img, main .icon img {
    height: auto;
    max-width: 100%;
    border-radius: 10px;
  }
  main .main_character img {
    height: auto;
    max-width: 50%;
    border-radius: 10px;
  }
}

@media screen and (max-width: 1375px) {
  main {
    max-width: 800px;
  }
}

@media screen and (max-width: 1250px) {
  main {
    max-width: 570px;
  }
}

@media screen and (max-width: 1000px) {
  main .main_character, main .main_bouns {
    padding: 0px 15px;
  }
  main .main_character img {
    max-width: 50%;
  }
  nav {
    width: 100%;
  }
  .icon img {
    width: 80%;
  }
}

@media screen and (max-width: 548px) {
  main {
    font-size: 12px;
  }
  main .main_title {
    font-size: 16px;
    margin-top: 5px;
    padding: 0 15px;
  }
  main .main_character, main .main_bouns {
    max-width: 100%;
  }
  header {
    font-size: 16px;
  }
  .icon {
    left: 0;
  }
  .icon img {
    width: 15%;
  }
  .top_btn {
    display: block;
  }
}
